@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
/*@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")*/
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
body{
    

    font-family: $font-primary;
    font-size:1.2rem;
    line-height:160%;
    //background:$paleyellow;
    color:$paleyellow ;
 }
